*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body,
button {
  font-family: "Trebuchet MS", "Segoe UI Emoji", "Apple Color Emoji", sans-serif;
}

button {
  cursor: pointer;
}

img,
svg {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}
